/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
	color: #555;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #414a4f; /*2196F3;*/
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 125px 100px;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

section h3.title{
	color: #414a4f;
	text-transform: capitalize; 
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}



#capa-cubriente, #capa-cubriente2 {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  background: #000;
}
#capa-cubriente2 {
  z-index: 1;
  background: rgba(0,0,0,0);
}

/*-------------
 	Header
-------------*/

header{
	/* position: absolute; */
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #414a4f;
	padding: 35px 100px 0;
}

header h2{
	font-family: 'Quicksand', sans-serif;
}
header #cabecera {
  text-align: left;
  overflow: hidden;
}

header nav{
	/*display: flex;*/
  /*float:right !important;*/
  /*display: block;*/
  width: 100%;
  
}

#menu li {
  display: inline-block;
  margin: 0 20px;
  /*font-size: 1.6em;*/
}
#menu a {
  text-decoration: none;
  /* color: #0099CC; */
  display: block !important;
  padding: 10px 0 5px 0;
  border-bottom: 5px solid transparent;
  position: relative;
  /* -webkit-transition: color 0.3s;
  transition: color 0.3s; */
}
ul#menu {
  text-align: right;
  margin: 0 0 50px 0;
  padding: 0;
}

#contenedor-menus-movil {
  /*position: relative;*/
  overflow: visible;
  float: left;
}

#menu-movil {
  z-index: 2;
  list-style:none;
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  padding: 0;
  visibility: hidden;
  border-radius: 5px;
  background: #414a4f;
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); 
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); 
  opacity: 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.01);
  transform: scale(0.01);
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-out;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}
#menu-movil a {
  color: #fff;
  text-decoration: none;
}
#menu-movil li {
  padding: 0;
  margin: 0;
}
#menu-movil li:first-child a {
  border-radius: 5px 5px 0 0; 
}
#menu-movil li:last-child a {
  border-radius: 0 0 5px 5px; 
}

#menu-movil a {
  padding: 10px 10px;
  border-bottom: 1px solid transparent;
  display: block;
}
#menu-movil a:hover {
  background: #F97821; /* para tamaños de moviles: #FF9800; */
}
#menu-movil li:last-child a {
  border-bottom: none;
}

#menu-movil.activate {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
#menu a, input[type="submit"] {
  -webkit-transition: color 0.3s, background 0.3s;
  transition: color 0.3s, background 0.3s;
}


#menu-boton {
  z-index: 2;
  /*position: absolute;*/
  top: 0;
  left: 0;
  display: none;
  cursor: pointer;
  padding: 10px;
  color: #fff;
  background: #414a4f;
  border-radius: 5px;
  margin: 10px;
  font-size: 18px;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  
  -webkit-transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

#menu-boton.click {
  -webkit-transform: scale(1.2,1.2);
  transform: scale(1.2,1.2);
  opacity: 0;
}

@media screen and (max-width: 702px) {
    ul#menu {
      display: none;
    }
    #menu-boton {
      display: inline-block;
    }
    #separa-para-menuboton {
      display: block;
    }
    header {
      padding: 0px 10px !important;
    }
    nav {
      width: 100%:
    }
    
}







header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}



@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}



/*----------------
 	Hero Section
----------------*/

.hero{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #414a4f;
	text-align: center;
}

.hero .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #f4f5f7; /* #2196F3; */
	z-index: -1;
}

.hero .background-image:after{ 
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f4f5f7; /* #414a4f; */
	opacity: 0.75;
}

.hero h1{
	font: bold 60px 'Open Sans', sans-serif;
	
	margin-bottom: 15px;
	display: block;
}

.hero h3{
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
	margin-top: 20px;
}

.hero a.btn{
	padding: 20px 46px;
}

@media (max-width: 800px){

	.hero{
		min-height: 600px;
	}

	.hero h1{
		font-size: 48px;
	}

	.hero h3{
		font-size: 24px;
	}

	.hero a.btn{
		padding: 15px 40px;
	}

}



/*--------------------
 	Our Games Section
---------------------*/

.оur-games{
	background-color: #fff;
}

.dr-flex-box {
	display: flex;
	flex-wrap:wrap;
	align-content:flex-start;
}
.dr-flex-box .dr-flex-item {
	width:50%;
	align-self:flex-start;
}
.dr-flex-box .dr-flex-item .dr-flex-item-content{
	margin:5px;
	background-color:#FFF;
	margin-bottom: 50px;
}
.dr-flex-box .dr-flex-item .icon-wrapper{
	text-align:center;
	padding:10px;
}
.dr-flex-box .dr-flex-item .icon-wrapper img{
	width:200px;
	max-width:100%;
	border-radius: 5px;
}
.dr-flex-box .dr-flex-item .title{
	margin:0;
	padding:0;
	font-size:1.2em;
	text-align:center;
}
.dr-flex-box .dr-flex-item .desc{
	padding:10px;
}


/* Estilo a las imagenes de App Store y Google Play */

.dr-flex-box .dr-flex-item  .store {
	display: flex;
	align-items: flex-start;
	
	flex-wrap:wrap;
	justify-content:space-around;
	
	padding: 0 20px;
	padding: 10px 80px; /* Determina la separación entre las imagenes */
}
.dr-flex-box .dr-flex-item  .store img {
	width:170px;
	max-width:100%;
	border-radius: 5px;
	display: flex;
	align-self: flex-start;
	
	margin: 6px 10px;
}

/* Estilo a las imagenes de App Store y Google Play */

@media (max-width: 800px){
	.dr-flex-box .dr-flex-item  .store {
		padding: 10px 10px; /* Determina la separación entre las imagenes */
	}
}

@media (max-width: 600px){
	.dr-flex-box .dr-flex-item {
		width:100%;
		/*align-self:flex-start;*/
	}
	.dr-flex-box .dr-flex-item  .store {
		/* justify-content: center; */
	}

}



/*----------------------
 	Features Section
----------------------*/

.features{
	background-color: #f7f7f7;
}

.features .grid li{
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}

.features .grid li i{
    font-size: 50px;
    color: #2196F3;
    margin-bottom: 25px;
}

.features .grid li h4{
	color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

.features .grid li p{
    margin: 0;
}

@media (max-width: 1000px){

	.features .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.features .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.features .grid li{
		flex-basis: 100%;
	}

}



/*--------------------
 	Reviews Section
--------------------*/

.reviews{
	background-color: #fff;
}

.reviews .quote{
	text-align: center;
	width: 80%;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}

.reviews .author{
    font-size: 18px;
    margin-bottom: 50px;
}

.reviews .author:last-child{
    margin-bottom: 0;
}

@media (max-width: 1000px){

	.reviews .quote{
		font-size: 20px;
	}

	.reviews .author{
	    font-size: 16px;
	}

}


/*---------------------
 	Contact Section (form email suscriptions )
---------------------*/

.contact{
	background-color: #f7f7f7;
}

.contact form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	max-width: 800px;
	width: 80%;
}

.contact form input{
	padding: 15px;
	flex: 1;
	margin-right: 30px;
	font-size: 18px;
	color: #555;
}

.contact form .btn{
	padding: 18px 42px;
}


@media (max-width: 800px){

	.contact form input{
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}

}




/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 60px 0;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}


/* -- Demo ads -- */

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}

.apple {
	pointer-events: none;
	opacity: 0.2;
}
